.my-yellow{
    color: rgb(230, 151, 48);
}
.bg-mygrey{
    background-color: #dee3e4;
}
.bigcontainer{
    width: 100%;
    height: calc(100vh - 24px);
    padding-top: 43px;
    border: solid red;
}
.image-mobile{
    width: 40px;
}
.topblue{
    width: 100%;
    height: 100%;
    
}
.cards-area{
    width: 100%;
    height: 100px;
}
.height-100{
    height: 100px;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: white;
}
.sidebar {
    width: 80px;
    height: 100%;
    border: solid rgb(25, 0, 255);
    
    color: #ffffff;
    background-image: url(img/sidebar-bg.png);
    background-color: rgb(8, 1, 71);
}
.wrapper {
    width: 100%;
    height: 100%;
    border: solid rgb(0, 255, 76);
}
.main-part{
    width: 100%;
    --bs-gutter-x: 0;
}
.whitey{
    color: white;
}
.bg-blue{
    background-color: rgb(5, 5, 68);
}